<aside ...attributes>
  {{#each @errors as |error|}}
    <span>
      {{#if error.message}}
        {{t error.message error.params}}
      {{else}}
        {{error}}
      {{/if}}
    </span>
  {{/each}}
</aside>