.btn {
  @apply relative flex items-center justify-center px-10 py-2 overflow-hidden font-medium text-white uppercase rounded bg-primary transition duration-300;
}

.btn::before {
  content: "";

  @apply absolute top-0 left-0 block w-full h-full bg-secondary scale-y-0 origin-bottom text-white;

  transition: all 0.5s cubic-bezier(0.2, 2.36, 0.36, 0.34);
}

.btn:hover::before {
  @apply scale-100;
}

.btn span {
  @apply relative z-10;
}

.btn img {
  @apply absolute -left-[50px] w-5 h-5 mb-1;

  transition: all 0.5s cubic-bezier(0.2, 2.36, 0.36, 0.34);
}

.btn:hover img {
  @apply left-[15px];
}
