fieldset {
  @apply my-5;
}

/******* FORM INPUTS ****/

.input_block {
  @apply relative w-full;
}
.input_sm {
  @apply w-full max-w-[170px];
}
.input_xs {
  @apply w-full max-w-[85px];
}

.input_block input,
.textarea_block textarea {
  @apply w-full px-3 py-2 border border-transparent rounded bg-background text-text/70;
}

.input_block label,
.tpk-input-label,
.tpk-select-label,
.tpk-textarea-label {
  @apply relative block mb-1 text-text;
}

.input_block aside {
  @apply absolute z-40 flex invisible mt-2 text-xs;
}

.disabled input,
.disabled textarea {
  @apply border border-dashed cursor-not-allowed bg-background-disabled border-text/30 text-text/60 transition-none outline-none;
}

/******* DATEPICKER ****/

.flatpickr-wrapper {
  @apply w-full;
}

.error-message {
  @apply bg-error shrink-0 h-5 w-5 text-white font-bold flex justify-center items-center rounded-full relative top-[5px] cursor-pointer z-50;
  content: '!';
}

/******* DATEPICKER ****/

/*** SEARCH BAR  ****/

.search_bar {
  @apply relative rounded bg-background;
}
.search_bar label {
  @apply sr-only;
}

.search_bar input {
  @apply p-2 bg-transparent w-full pl-14;
}

.search_bar button {
  @apply absolute left-0 top-2.5 w-5 h-5 ml-3;
  background: url(/assets/icons/search.svg) center left no-repeat;
  background-size: cover;
}

.search_bar button span {
  @apply sr-only;
}

/******* ERROR ****/

[data-has-error='true'] aside:before {
  @apply error-message;
}

[data-has-error='true'] input,
[data-has-error='true'] textarea,
[data-has-error='true'] .tpk-select-button {
  @apply text-error border-0 ring-2 ring-error;
}
[data-has-error='true'] aside {
  @apply visible text-error absolute min-h-[30px] w-auto flex text-sm z-40;
}

.input_sm[data-has-error='true'] aside,
.input_xs[data-has-error='true'] aside {
  @apply overflow-x-hidden w-[320px] z-50;
}

[data-has-error='true'] aside span {
  @apply flex items-center w-auto px-3 ml-2 bg-red-100 rounded leading-6;
  transition: 0.5s cubic-bezier(0.18, 1.85, 0.16, 0.8);
}
.input_sm[data-has-error='true'] aside span,
.input_xs[data-has-error='true'] aside span {
  @apply flex items-center bg-red-100 leading-6  px-3 rounded ml-2 relative left-[-400px] z-40;
}
[data-has-error='true']:hover aside {
  z-index: 55;
}
[data-has-error='true']:hover aside span {
  @apply left-[0];
}


/******* Checkbox/radio ****/

.checkbox_block,
.radio_block {
  @apply flex items-center space-x-2;
}

label {
  @apply cursor-pointer select-none;
}
.checkbox_block div {
  @apply flex items-center gap-3;
}
.checkbox_block input[type='checkbox'],
.radio_block input {
  -webkit-appearance: none;
  appearance: none;

  @apply w-5 h-5 cursor-pointer rounded flex items-center justify-center relative outline outline-background outline-2 outline-offset-[-2px] text-background transition duration-500 shrink-0;
  transition: all 0.5s cubic-bezier(0.2, 3, 0.8, 0);
  box-shadow: inset 2rem 2rem currentColor;
}

.radio_block input {
  @apply rounded-full;
} 

.checkbox_block input[type='checkbox']:before {
  content: '';
  @apply block w-6 h-6 mb-1 ml-1.5 scale-0 absolute;
  background: url(/assets/icons/icon-check.svg);
  transition: all 0.1s linear;
}
.radio_block input:before {
  content: '';
  @apply block w-2 h-2 rounded-full scale-0 bg-text;

  transition: all 0.1s linear;
}
.checkbox_block:hover input[type='checkbox'],
.radio_block:hover input {
  @apply outline-offset-2 outline-text;
}
.checkbox_block input[type='checkbox']:disabled,
.radio_block input[type='radio']:disabled {
  @apply transition-none;
}
.checkbox_block:hover input[type='checkbox']:disabled,
.radio_block:hover input[type='radio']:disabled {
  @apply outline-none cursor-not-allowed;
}
.checkbox_block input[type='checkbox']:checked,
.radio_block input:checked {
  @apply text-text outline-offset-2 outline-text;
}

.checkbox_block input[type='checkbox']:checked:disabled,
.radio_block input[type='radio']:checked:disabled {
  @apply cursor-not-allowed text-background-disabled outline-background-disabled;
}

.checkbox_block input[type='checkbox']:checked:before,
.radio_block input:checked:before {
  @apply scale-100;
  transition: all 0.5s cubic-bezier(0.18, 2.85, 0.16, 0.8);
}

/******* SelectBox ****/

.tpk-select-options-option[data-has-focus='true'] {
  @apply bg-secondary/50;
}
.tpk-select {
  @apply relative;
}
.tpk-select-options {
  @apply w-full bg-white z-[60] absolute hidden shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm mt-1.5;
}

.tpk-select[data-is-open='true'] .tpk-select-options {
  @apply block z-[60];
}

.tpk-select-options-option[aria-selected='true'] {
  @apply bg-secondary;
}

.tpk-select-options-option {
  @apply relative py-2 pl-3 text-gray-900 cursor-pointer select-none pr-9 hover:bg-text/60 focus:outline-none focus-visible:border-secondary;
}

.tpk-select-button {
  @apply bg-background relative w-full flex rounded border text-text/70 border-background shadow-sm pl-3 pr-10 py-2.5 text-left cursor-default focus:outline-none focus:ring-2 ring-secondary focus:border-secondary;
}
.tpk-select-button:after {
  content: '▾';
  @apply absolute right-[10px];
}
.tpk-select[data-is-open='true'] .tpk-select-button:after {
  @apply transform -rotate-180 mt-0.5;
}
.tpk-select-button:disabled,
.disabled .tpk-select-button {
  @apply border border-dashed cursor-not-allowed bg-background-disabled border-text/30 text-text/60 ring-0;
}
.disabled .tpk-select-options {
  @apply hidden w-0 h-0 ring-0;
}
.tpk-select-search-container {
  @apply pt-1;
}

.disabled .tpk-select-button::after {
  content: none;
}

.tpk-select aside {
  @apply mt-2;
}

/******* SelectBox Search ****/

.tpk-select-search-input {
  @apply text-text/70;
}
.tpk-select-search {
  @apply relative;
}
.tpk-select-search-options {
  @apply w-full bg-white z-[60] hidden absolute shadow-lg max-h-60 rounded-md py-1 text-base ring-1 ring-black ring-opacity-5 overflow-auto focus:outline-none sm:text-sm mt-1.5;
}

.tpk-select-search[data-is-open='true'] .tpk-select-search-options {
  @apply block;
}

.tpk-select-search-options-option {
  @apply relative py-2 pl-3 text-gray-900 cursor-pointer select-none pr-9 hover:bg-text/60 focus:outline-none focus-visible:border-primary;
}