/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */
.tableYeti {
  @apply mt-8;
}

.tableYeti a {
  @apply text-primary inline-block;
}

.tableYeti a::before {
  display: none;
}

.tableYeti thead tr {
  @apply border-b-2 bg-background;
}

.tableYeti th {
  @apply py-3 h-12 font-medium border-b-2 border-b-gray-900/30 shrink-0 grow-0;
}

.tableYeti td {
  @apply relative text-center py-4 border-b-[3px] border-white shrink-0 grow-0;
}

.tableYeti tr {
  @apply bg-background;
}

.tableYeti td:first-child,
.tableYeti th:first-child {
  @apply rounded-l-md;
}

.tableYeti td,
.tableYeti td:last-child,
.tableYeti th:last-child {
  @apply rounded-r;
}

.tableYeti th,
.tableYeti td {
  @apply w-[100px] max-w-[150px] px-4 box-content;
}

.tableYeti td.small,
.tableYeti th.small {
  @apply w-[50px] max-w-[50px] grow-0 shrink;
}

.tableYeti td.selectable,
.tableYeti th.selectable {
  @apply w-[50px] max-w-[50px] m-0 p-0;
}

.tableYeti td.custom-cell,
.tableYeti th.custom-cell {
  @apply w-[30px];
}

.tableYeti td.big,
.tableYeti th.big {
  @apply w-[250px]  min-w-[150px]  grow whitespace-normal;
}

.tableYeti .status::before {
  content: "";

  @apply absolute w-2.5 rounded-sm h-full block left-0 top-0;
}

.tableYeti tfoot tr {
  @apply bg-transparent;
}

.yeti-table-pagination-controls {
  @apply w-full flex flex-col justify-center items-center my-8;
}

.yeti-table-pagination-controls-page-info,
.yeti-table-pagination-controls-page-size {
  @apply bg-transparent text-center text-text;
}

.yeti-table-pagination-controls-page-size select {
  @apply border-b-2 border-text/30;
}

.yeti-table-pagination-buttons button {
  @apply cursor-pointer;
}

.yeti-table-pagination-buttons button img {
  filter: invert(13%) sepia(6%) saturate(5813%) hue-rotate(157deg)
    brightness(100%) contrast(90%);
}

.yeti-table-pagination-buttons button:hover img {
  filter: invert(61%) sepia(99%) saturate(3877%) hue-rotate(167deg)
    brightness(89%) contrast(96%);
}

.yeti-table-pagination-buttons button:disabled {
  @apply cursor-default;
}

.yeti-table-pagination-buttons button:disabled img {
  filter: invert(70%) sepia(0%) saturate(2309%) hue-rotate(26deg)
    brightness(92%) contrast(97%);
  opacity: 0.5;
}

.yeti-table-pagination-controls-previous {
  @apply mr-12;
}

.yeti-table-pagination-controls-next {
  @apply ml-12;
}

.actions {
  @apply flex justify-center items-center p-0 relative;
}

.actions ul {
  @apply flex flex-col overflow-hidden absolute z-50 bg-white top-[20px] right-[50%] shadow-text/70 shadow-xl rounded transform scale-y-0 items-start origin-top-right transition duration-300 ease-in-out;
}

.actions li {
  @apply w-full relative my-1;
}

.actions button {
  @apply pl-5 pr-12  py-3 flex items-center justify-start transition duration-300 text-text w-full;
}

.actions ul button img {
  @apply mr-3 block;

  transition: all 0.5s cubic-bezier(0.2, 2.36, 0.36, 0.34);
}

.actions ul button:hover {
  @apply bg-background;
}

.actions button:hover img {
  @apply transform rotate-[360deg];
}

.actions.aopened ul {
  @apply scale-y-100;
}

.actions .open_actions {
  @apply flex justify-center items-center px-4 py-2 w-auto;
}

.actions .close_actions:hover {
  @apply bg-transparent;
}

.actions .close_actions img {
  @apply absolute top-[10px] right-[5px] p-2;
}

.actions .close_actions:hover img {
  @apply rotate-0;
}

.custom-table td,
.custom-table th {
  flex-grow: 1;
}

.tableYeti th.yeti-table-sortable {
  @apply relative;
}

.tableYeti th.yeti-table-sortable::after {
  @apply inline-block text-secondary;

  content: "\25BF";
  margin-left: 5px;
}

table.yeti-table thead th.yeti-table-sorted-asc::after {
  @apply text-secondary;

  content: "\25BE";
  margin-left: 5px;
}

table.yeti-table thead th.yeti-table-sorted-desc::after {
  @apply text-secondary;

  content: "\25BE";
  transform: rotate(180deg);
  margin-left: 5px;
}

table.yeti-table .yeti-table-sortable {
  white-space: nowrap;
}
