<li class="tpk-list-file-file" ...attributes data-test-file>
  {{yield @document.filename to="title"}}
  {{#if this.isDownloadable}}
    <button
      type="button"
      class="ml-4"
      data-test-download-file
      {{on "click" this.onDownload}}
    >
      <img
        src="/assets/icons/download.svg"
        class="w-6 h-6 disabled"
        alt=""
        role="none"
      />
    </button>
  {{/if}}

  {{#if this.isDeleteable}}
    <button
      type="button"
      class="group rounded-md ml-4"
      data-test-delete-file
      {{on "click" this.onRemove}}
    >
      <img
        class="w-6 h-6 font-bold duration-300"
        src="/assets/icons/trash.svg"
        alt={{t "document.closeButtonLight"}}
      />
    </button>
  {{/if}}
</li>