<div
  class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8 bg-secondary h-screen"
  ...attributes
>
  <div
    class="sm:mx-auto text-text-secondary sm:w-full sm:max-w-md flex flex-col items-center"
  >
    {{@title}}
  </div>
  <div class="mx-auto w-full max-w-xs">
    {{yield}}
  </div>
</div>