{{page-title "EmberBoilerplate"}}

{{!-- The following component displays Ember's default welcome message. --}}

{{!-- Feel free to remove this! --}}

<div class="flex items-center justify-center h-screen bg-gray-100">
  <button type="button" class="shadow-md hover:shadow-lg hover:bg-green-500 bg-green-400 text-white px-8 py-5 rounded">
        Triptyk Boilerplate Template
  </button>
</div>
