<HeadLayout />
<div class="fixed z-10 top-4 right-4">
  {{#each this.flashMessages.arrangedQueue as |flash|}}
    <FlashMessage @flash={{flash}} />
  {{/each}}
</div>
<WhileLoading>
  <LoadingIndicator />
</WhileLoading>
{{outlet}}