name: CI
on: [push]
jobs:
  lighthouseci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - run: npm i -g pnpm && pnpm install -g ember-cli @lhci/cli@0.8.x
      - run: pnpm i
      - run: pnpm run build
      - run: lhci autorun